.callNow{
    background-color: #0F3782;
    position: fixed;
    bottom: 25px;
    right: 31px;
    padding: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 99;
}
.callNow img{
    width: 6vw;
    filter: brightness(23.5);
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    animation: ring 2.1s infinite;
}
@keyframes ring {
    0% {
        transform: rotate(25deg);
    }
    12.5% {
        transform: rotate(-20deg);
    }
    25% {
        transform: rotate(15deg);
    }
    37.5% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}