.xfinity_wrapper *{
    box-sizing: border-box;  
}
body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6 p{
    margin: 0;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
image{
    width: 100%;
}
.Xfinity-Child{
    display: flex;
    justify-content: space-between;
    max-width: 1390px;
    padding: 0 10px;
    margin: 0 auto;
}
@media screen and (max-width:500px) {
    .Xfinity-Child{
    max-width: 1390px;
    display: flex;
    flex-direction: column;
    }
}