/*************************** sTYLE OF MAIN SECTION */
.main {
  margin: 0 auto;
  max-width: 83vw;
  padding-top: 1vw;
}

.main_section {
  display: flex;
  margin-top: 3vw;
}
.main h2 {
  font-weight: 400;
}
/**************************************** Card style */
.card {
  width: 90%;
  margin-top: 1.563vw;
  padding: 1.563vw 0vw;
  background-color: #fff;
  gap: 0.521vw;
  margin: auto;
  border: 0.5px solid #0F3782;
  box-shadow: 0px 3px 3px #80808096;
}
.price_part {
  margin: auto 0;
}
/*************************** style internet pakage */
.internet_pakage {
  width: 11.406vw;
  border: 0.025vw solid rgba(15, 21, 32, 0.3);
  border-radius: 1.003vw;
  margin: auto;
}
.internet_pakage h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 0.729vw;
  color: #0f1520;
  text-align: center;
  padding: 0.6vw;
}
.price_part {
  text-align: center;
}
/******************************* Span tag style */

.price_part span {
  font-style: normal;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.875vw;
  color: rgba(15, 55, 130, 0.7);
  display: block;
  margin-top: 1.563vw;
}

/********************************** Dollar price Div */
.dollar_price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dollar_price h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.748vw;
  line-height: 1.875vw;
  color: #0f3782;
}
.dollar_price h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.083vw;
  line-height: 1.875vw;
  color: #0f3782;
}
.tax {
  margin-top: 0.833vw;
}
/*************************** List Style */

ul.list_part {
  position: relative;
}
ul.list_part::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 12.917vw;
  border: 0.5px solid rgba(193, 193, 193, 1);
  margin: auto;
}

.list {
  list-style: square;
  font-style: normal;
  font-weight: 400;
  font-size: 1.302vw;
  line-height: 1.875vw;
  letter-spacing: 0.05em;
  color: #0f3782;
  margin-top: 1.042vw;
}

.phone_btn {
  width: 12.5vw;
  background-color: #000000;
  text-align: center;
  margin: auto;
  padding: 0.521vw;
  margin-top: 1.563vw;
  display: block;
  color: #fff;
}

.phone_btn a {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  color: #ffffff;
}

.list_part {
  padding-top: 0.781vw;
  margin: 0.677vw;
}

/******************* Media Quries for responsiveness */

@media (max-width: 600px) {
  .main_section {
    display: flex;
    flex-direction: column;
  }
  .main h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 5.361vw;
    line-height: 5.828vw;
  }
  .pakage_section {
    margin-top: 4.662vw;
  }
  .list {
    font-weight: 400;
    font-size: 4.196vw;
    line-height: 5.361vw;
  }
  .main{
    padding-top: 6vw;
  }
  .internet_pakage {
    width: 28.406vw;
    border: 0.025vw solid rgba(15, 21, 32, 0.3);
    border-radius: 4.003vw;
    margin: auto;
    padding: 3vw;
  }
  .internet_pakage h3{
    font-size: 4.042vw;
  }
  .phone_btn a{
    font-size: 2.833vw;
  }
  .phone_btn{
    width: 53vw;
    background-color: #000000;
    text-align: center;
    margin: auto;
    padding: 1.4vw 0vw;
    margin-top: 5.563vw;
    margin-bottom: 4vw;
  }
  .price_part span{
    font-style: normal;
    font-weight: 400;
    font-size: 3.042vw;
    line-height: 5.875vw;
  }
  .dollar_price h4{
    font-size: 8.083vw;
    line-height: 10.875vw;
  }
  .tax h6{
    font-size: 2.748vw;
    line-height: 8.875vw;
  }
  .list{
    margin-top: 5vw;
  }
  .card{
    padding: 2.563vw 0vw;
  }
}
