.cable_section{
    margin-top: 3vw;
}
.cable__inner__section{
    margin: 0 auto;
    max-width: 55vw;
}
.provider{
    margin: 0 auto;
    max-width: 83vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.provider .up_side{
    background-color: rgba(202, 202, 202, 0.4);
}
.provider .up_side span{
    background-color: #0F3782;
    color: #ffff;
    padding: 0vw 0.781vw;
}
.provider .down_side{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 1vw;
}
.provider .down_side a{
    background-color:#0F3782;
    color: #ffff;
    padding: 0.521vw 1.042vw;
    height: fit-content;
}
.down_side img{
    object-fit: contain;
}
.main{
    margin: 5vw auto 0;
    max-width: 83vw;
}
.main h2{
    font-weight: 400;
}
/*******************************   !st Media query */
@media screen and (max-width:600px) {
    .main_part{
        padding-top: 40.969vw;
        background: #cdcecf;
    }
    .provider{
        max-width: 76.923vw;
        margin: 0 auto;
        background-color: #ffff;
        position: relative;
    }
    .provider .up_side{
        background-color: transparent;
        margin-top: 4.662vw;
    }
    .provider .up_side span{
        background-color: #0F3782;
        color: #ffff;
        padding: 0.466vw 4.662vw;
        position: absolute;
        left: 0;
        top: 9px;
        font-size: 3.4vw;
        padding: 2vw 3vw;
    }
    .provider .down_side{
        display: flex;
       flex-direction: column;
        align-items: center;
        padding: 4.662vw 0vw;
    }
    .provider .down_side a{
        background-color:#0F3782;
        color: #ffff;
        padding: 2.098vw 1.865vw;
        height: fit-content;
        font-size: 3.030vw;
        align-items: center;
        margin-top: 4vw;
        width: 44vw;
        text-align: center;
    }
    .cable__inner__section{
        max-width: 76vw;
    }
    .mobile{
       display:flex;
         justify-content:center;
            border-bottom:1px solid rgba(13, 13, 23, 0.5);
            padding-bottom:5vw;
            width:100%;
    }
}