.providers_bg{
    background-color: #0D0D17;
    padding: 5vw 0;
}
.provider_heading h2{
    text-align: center;
    color: #fff;
}
.providers_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5vw auto 0;
    max-width: 84vw;
    padding: 0 2vw;
    gap: 4px;
}
.provider_col_inner img{
   transition: 0.3s;
}
.provider_col_inner a div:hover img{
    transform: scale(1.1);
    overflow: hidden;
}
.provider_col:nth-child(1),
.provider_col:nth-child(23){
    text-align: right;
}
.provider_col:nth-child(1),
.provider_col:nth-child(2),
.provider_col:nth-child(23),
.provider_col:nth-child(24){
    width: 49.5%;
}
.provider_col:nth-child(1) img,
.provider_col:nth-child(23) img{
    max-width: unset;
    margin: auto;
}
.provider_col:nth-child(2) img,
.provider_col:nth-child(24) img{
    max-width: unset;
    margin: auto;
}

.provider_col{
    width: 19.1%;
    overflow: hidden;
    margin-bottom: 0.6vw;
}
.provider_col_inner a div {
    width: 16.1vw !important;
    height: 4.9vw !important;
    overflow: hidden;
    margin-left: auto;
}
.provider_col:nth-child(2) .provider_col_inner a div,
.provider_col:nth-child(24) .provider_col_inner a div{
    width: 16.1vw !important;
    height: 4.9vw !important;
    overflow: hidden;
    margin-right: auto;
    margin-left: unset;
}
@media screen and (max-width:600px){
    .providers_row{
        flex-direction: column;
    }
    .provider_col,
    .provider_col:nth-child(1),
    .provider_col:nth-child(2),
    .provider_col:nth-child(23),
    .provider_col:nth-child(24){
        width: 100%;
        margin: 0 auto;
    }
    .provider_col:nth-child(1) img,
    .provider_col:nth-child(2) img,
    .provider_col:nth-child(23) img,
    .provider_col:nth-child(24) img{
        max-width: 100%;
    }
    .provider_heading h2{
        font-size: 7.604vw;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 8vw;
        padding-top: 7vw;
    }
    .providers_row{
        margin-top: 12vw;
    }
    .provider_col img{
        background-color: transparent;
    }
    .provider_col{
        background-color: #fff;
        margin-bottom: 3vw !important;
    }
    .provider_col p{   
        color: rgba(81, 81, 81, 1);
        font-weight: 100;
        padding: 4vw 3vw 7vw;
        margin: 0 auto;
        max-width: 272px;
        line-height: 1.6;
    }
    .provider_col_inner{
        padding: 2vw 0 8vw;
    }
    .provide_tel{
        text-align: center;
    }
    .provide_tel a{
        color: #fff;
        background-color: rgba(15, 55, 130, 1);
        padding: 1vw 7vw;
        font-weight: 100;
        font-size: 4.5vw;
    }
    .provider_col_inner a div{
        width: 100% !important;
        height: 21vw !important;
        border-bottom: 1px solid #000;
    }
    .provider_col:nth-child(2) .provider_col_inner a div{
        width: 100% !important;
        height: 20.9vw !important;

    }
}