.main_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg,  rgba(42, 56, 96, 1) 0%, rgba(42, 56, 96, 1) 50%, rgba(0, 212, 255, 1) 50%,
  rgba(0, 212, 255, 1) 100%);
  font-family: "__objectSans_1a79df", "__objectSans_Fallback_1a79df",
    "Helvetica", "Arial", sans-serif;
}
.left_content {
  color: white; 
}
.left_content h1 {
  font-size: 3rem;
  font-weight: 900;
  width: 400px;
}
.left_content p {
  font-size: 1rem;
  font-weight: 800;
  width: 350px;
  margin-top: 40px;
}

.right_content {
  width: 50%;
}
.right_content h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.right_content p {
  font-size: 1rem;
  font-weight: 400;
  color: #7e7e7e;
  margin-top: 20px;
}
