@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

.spectrum_wrapper * {
  font-family: "Open Sans";
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.spectrum_wrapper img{
  width: auto;
}

.spectrum_wrapper {
  color: 255, 255, 255;
}
