.main_div{
    width: 100%;
    background-color: #f3f4f4;
    padding: 80px 0;
    margin: auto;
}
.content_wrapper{
    width: 80%;
    margin: auto;
}
.first_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.first_row p{
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 50px;
}
.second_row p{
    font-size: 0.7rem;
    color: #757575;
    margin-bottom: 20px;
}
.desclaimer h1{
    width: fit-content;
    margin: auto;
}
.desclaimer p{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}